<form action="" class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="inputData(form)">
    <h1 class="text-center bg-success text-white">Add Movies</h1>
    <div class="form group">
      <input type="text" name="addmovie" id="addmovie" class="form-control" placeholder="addmovie" #text="ngModel" ngModel required>
       <div *ngIf="text.touched && text.invalid">
        <p  class="alert alert-danger" *ngIf="text.errors.required">*This field is Required</p>
       </div>
      </div>
      
      <div class="form group">
      <input type="text" name="Movie title" id="Movie title" class="form-control" placeholder="Movie Title" #text="ngModel" ngModel required>
       <div *ngIf="text.touched && text.invalid">
       <p class="alert alert-danger" *ngIf="text.errors.required">*This field is Required</p>
       </div>
      </div>
      
      <div class="form group">
        <input type="text" name="movie description" id="movie description" class="form-control" placeholder="movie description" #text="ngModel" ngModel required>
         <div *ngIf="text.touched && text.invalid">
          <p  class="alert alert-danger" *ngIf="text.errors.required">*This field is Required</p>
         </div>
        </div>
      
       <div class="form group">
        <input type="url" name="img" id="img" class="form-control" placeholder="Image Url" #url="ngModel" ngModel required>
         <div *ngIf="url.touched && url.invalid">
         <p class="alert alert-danger" *ngIf="url.errors.required">*This field is Required</p>
         </div>
      </div>
      
      
      <div class="form-group">
      <button type="submit" class="btn btn-outline-success float-right">Add</button>
      </div>
  </form>
